# Replace with your actual MongoDB Atlas connection string from Step 1
MONGODB_URI=
JWT_SECRET=
PORT=
NODE_ENV=

# Add these new email variables
EMAIL_USER=
EMAIL_PASS=

# AI Service API Key
GEMINI_API_KEY=

# Backup (Cloudflare)
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
